# Configurações do RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=user
RABBITMQ_PASSWORD=password

# Configurações do Prometheus Pushgateway
PROMETHEUS_PUSHGATEWAY_HOST=localhost:9091

# Configurações dos Soil Sensors
# Sensor Quadrante 1
SENSOR_Q1_ID=soil-monitor-q1-001
SENSOR_Q1_LOCATION=q1
SENSOR_Q1_MIN_INTERVAL_SECONDS=8
SENSOR_Q1_MAX_INTERVAL_SECONDS=15

# Sensor Quadrante 2
SENSOR_Q2_ID=soil-monitor-q2-001
SENSOR_Q2_LOCATION=q2
SENSOR_Q2_MIN_INTERVAL_SECONDS=12
SENSOR_Q2_MAX_INTERVAL_SECONDS=18

# Sensor Quadrante 3
SENSOR_Q3_ID=soil-monitor-q3-001
SENSOR_Q3_LOCATION=q3
SENSOR_Q3_MIN_INTERVAL_SECONDS=10
SENSOR_Q3_MAX_INTERVAL_SECONDS=20

# Sensor Quadrante 4
SENSOR_Q4_ID=soil-monitor-q4-001
SENSOR_Q4_LOCATION=q4
SENSOR_Q4_MIN_INTERVAL_SECONDS=15
SENSOR_Q4_MAX_INTERVAL_SECONDS=25

# Configurações do Aggregator Service
INPUT_QUEUE=soil-moisture-data
OUTPUT_QUEUE=soil-moisture-sensors
AGGREGATION_INTERVAL_SECONDS=10
LOG_LEVEL=info
LOG_FORMAT=json

# Configurações do Controlador de Umidade
MOISTURE_THRESHOLD=30.0
IRRIGATORS_LIST=irg-q1-001,irg-q2-001,irg-q3-001,irg-q4-001

# Configurações dos Irrigadores
IRRIGATOR_Q1_QUEUE=irg-q1-001
IRRIGATOR_Q2_QUEUE=irg-q2-001
IRRIGATOR_Q3_QUEUE=irg-q3-001
IRRIGATOR_Q4_QUEUE=irg-q4-001

# Configurações do Monitoramento de Máquinas
MACHINE_NAME=machine-001
MACHINES_QUEUE=machines-metrics
